.about {
  margin: 0 auto;
  width: 45%;
}

.about-title {
  text-align: center;
  color: white;
}

.about-text {
  padding-left: 10px;
  color: var(--color-3);
  border-left: 5px solid var(--color-2);
}
