
.footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0%;
}

.navigation {
  vertical-align: bottom;
  list-style-type: none;
}

.navigation > li > a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #222288;
  padding: 1px;
  transition: padding 200ms ease-in-out, color 100ms;
  transition: font-size 200ms ease;
}

.navigation > li > a:hover {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 1px var(--color-2);
  border-bottom: 3px solid #1111aa;
  padding-bottom: 20px;
  transition: padding 400ms ease-in-out, color 200ms;
}

.footer-container:hover a {
  font-size: 1.2rem;
  transition: font-size 500ms ease; 
}

.footer-container:hover li {
  margin-right: 0.9rem;
  transition: margin-right 500ms ease;
}

.navigation > li {
  vertical-align: top;
  display: inline-block;
  margin-right: 1.7rem;
  transition: margin-right 200ms ease;
}



@media (max-width: 1400px) {
  .footer {
    position: absolute;
    top: 0;
    left: 0;
  }    
}
