.footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0%;
}

.navigation {
  list-style-type: none;
}

.navigation > li > a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #222288;
}

.navigation > li {
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 1400) {
  .navigation > li {
    display: block;
    margin: 100px;
    background-color: red;
  }
}
