@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400&display=swap");

:root {
  --color-1: #264653;
  --color-2: #2a9d8f;
  --color-3: #e9c46a;
  --color-4: #f4a261;
  --color-5: #e76f51;
}

* {
  box-sizing: border-box;
  cursor: default;
}

/* Hide scroll bar but still be able to scroll */
html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth; /* For fragments */
}

::-webkit-scrollbar {
  width: 0; /* Remove space occupied by scrollbar */
}