.logo {
  width: 9vw;
  height: 9vw;
  display: inline-block;
  margin: 30px auto;
  filter: drop-shadow(2px 2px 2px var(--color-3));
  transition: filter 200ms ease;
}

.logo:hover {
  filter: drop-shadow(4px 4px 3px var(--color-2));
  transition: filter 100ms ease;
}

.settings {
  display: inline-block;
  margin: 30px auto;
  text-align: center;
}

.settings-section {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 0 20px 0;
  border: 3px var(--color-2) solid;
}

.settings-title {
  margin: 0 0 1rem 0;
  font-size: 1.7rem;
}

.setting-title {
  margin: 0 0 1rem 0;
}

.language-amount-choice-display {
  color: black;
}

.language-amount-error {
  display: none;
  font-weight: bold;
  color: red;
  font-size: 1rem;
}


.languageAmount-difficulty {
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: border-radius 200ms ease, color 100ms ease;
}


.languageAmount-difficulty:hover {
  color: rgba(0,0,0,0.7);
  border-radius: 0;
  transition: border-radius 200ms ease, color 200ms ease;
}

.easy {
  background-color: #228822;
}

.medium {
  background-color: #888822;
}

.hard {
  background-color: #882222;
}

.extreme {
  background-color: #aa2222;
}

.ultimate {
  background-color: #ff0000;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  cursor: pointer;
  width: 230px; /* Full-width */
  height: 12px; /* Specified height */
  border-radius: 2px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 23px; /* Set a specific slider handle width */
  height: 23px; /* Slider handle height */
  border-radius: 50%;
  background: var(--color-2); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 23px; /* Set a specific slider handle width */
  height: 23px; /* Slider handle height */
  border-radius: 50%;
  background: var(--color-2); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.language-choice-error {
  color: red;
}

.toggle-audio {
  display: flex;
  justify-content: space-between;
}

.audio-toggle-container {
  margin: 0 auto;
  display: inline-block;
}

[checked] {
  cursor: pointer;
}